.App {
  text-align: center;
  padding: 0px 20px 20px 20px;
}

#root {
  background-color: #f2f2f2;
  height: unset;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#viewTodoDiv{ 
  width: 100%;
  height: 40%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: white;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], input[type='password'], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: larger;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  padding: 20px;
}

.navBtn-group .navButton {
  background-color: white; 
  border: none;
  color: black;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
  /* float: left; */
}

.navBtn-group .navButton:hover {
  background-color: #ddd;
}
.navBtn-group .navButton:focus {
  outline: none;
  border-bottom: 2px solid #409ce0;
}
.navButton:focus-within {
  outline: none;
  border-bottom: 2px solid #409ce0;
}

button {
  background-color: #409ce0; 
  color: white; 
  border: 2px solid white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.todoButtons {
  padding: 4px 8px;
  font-size: 14px;
}


.roundedButton{
border-radius: 6px;
}

button:hover {
  background-color: #008CBA;
  color: white;
}
button:focus {
  outline: none;
}

textarea {
  border: 1px solid #ccc;
  background: white;
  color: black;
  padding: 12px;
  font-size: larger;
  resize: none;
  width: 90%;
}

.f2Gray{
  background-color: #f2f2f2;
}

.noBorder {
  border: none !important; 
}

#signupDiv {

}

.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}


#roundedBar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px #0000004d;
	border-radius: 10px;
	background-color: #F5F5F5;
}

#roundedBar::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#roundedBar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px #0000004d;
	background-color: #ccc;
}

#addNewTodoDiv {
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 2px 4px 0 #00000033,
    0 3px 10px 0 #00000030;
    width: 75%;
}

#colorPickerDiv{
height: 50px;
width: 50px;
}

.leftPosition {
  float: left;
}

#filterByTagInputField {
width: 50%;
}
.grayColor1 {
  color: #ccc;
}
